body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    margin: 0 auto;
    padding: 0;
}
main {
    padding: 20px;
}

header {
    padding: 10px;
    margin: auto;
}

header h1 {
    margin: auto;
    color:limegreen;
    text-align: center;
    

}

#site-title{
    color:limegreen;
    text-decoration: none;
}
.read-more{
    color:lime;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

nav ul:hover li:hover {
    
    background-color: limegreen;
}

nav ul li a {
    text-decoration: none;
    color:white;
    margin: auto;
    font-weight: bolder;
   
}