body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    margin: 0 auto;
    padding: 0;
}
main {
    padding: 20px;
}

header {
    padding: 10px;
    margin: auto;
}

header h1 {
    margin: auto;
    color:limegreen;
    text-align: center;
    

}

header h1 a {

    color:limegreen;
    text-decoration:none;
}
.read-more{
    color:lime;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

nav ul:hover li:hover {
    
    background-color: limegreen;
}

nav ul li a {
    text-decoration: none;
    color:white;
    margin: auto;
    font-weight: bolder;
   
}

nav li{
    background-color: black;
    height: 40px;
    border-style: solid;

}


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.hero-text h2 p {
    margin-bottom: 20px; 
    max-width: 100%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Styles for the featured image section on mobile view */

#featured{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(41, 57, 57);
    color:#fff;

}

.article, .article-info h3 p{
 max-width: 100%;
}

/* Styles for the about section on mobile view */

#about{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.about-image, .about-text h3 p{
    max-width: 100%;
   }


/* Styles for the contact section on mobile view */

#contact{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:darkseagreen;
}

.contact-text, .contact-form h3 p{
    max-width: 100%;
   }

section {
    margin-bottom: 25px;
}

/* Style for form fields */

input{
    width: 200px;
    padding:10px;
    border-style: groove;
    margin: 10px;
}

textarea{
    width:300px;
    height: 200px;
    padding:10px;
    border-style: groove;
    margin: 10px;
}

.form-submit{
    width: 150px;
    height:40px;
    border-style: solid;
    border-radius: 10px;
    background-color: green;
    color:white;
    margin-bottom: 20px;
    border-color:white;
}


/* style for the website footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/* Media Query For Desktop Devices */

@media only screen and (min-width: 992px) {

    main {
        padding: 0;
    }
    header{
        display: flex;
        flex-direction: row;
        background-color: lavender;
        height: 35px;
        border-style: groove;
    }
    header h1{
      margin-left: 2px;
        font-size: 22px;
    }
    nav ul li {
        display: inline;
        margin: 5px;
        background-color: lavender;
    }

    nav ul li a {
        color: darkslategrey; 
        text-decoration: underline;    
    }

    nav li{
        border-style:none;
    }
    nav li:hover a:hover{
        color:white;
    }
    #hero {
        display: flex;
        flex-direction: row;
        margin:20px;
    }

    .hero-text{
        text-align: center;
        margin-right:20px;
        margin-bottom: 25px;
        
    }
    
    #featured{
        display: flex;
        flex-direction: row;
        height: 600px;
    }

    .article, .article-info h3 p{
        max-width: 25%;
        margin-left: 80px;
       }


    #about{
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        
    }

    #about-text{
        margin-left:25px;
        text-align: center;
        margin-bottom: 250px;
       
    }

    footer{
        position: relative;
        top: 100px;
    }

}

